<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- TODO: Change title -->
  <title>D0020E - Group 13</title>
<!--  <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>-->
</head>

<body>
  <script type=text/javascript>
  //A ajax post request done to send rotation cordinates as json data.
        $(function() {
          $('a#rotate').on('click', function(e) {
            e.preventDefault();
            var i = $('#yaw').val();
            var j = $('#pitch').val();
            $.ajax({
              url: '/rotate',
              type: 'POST',
              contentType: 'application/json',
              dataType: 'json',
              data: JSON.stringify({i: i, j: j})
            }).done(function() {
              // Code to execute after the request is done
            });
          });
        });
    </script>
  <div class="video-container">

<img src="{{ src }}" alt="{{ src }}" id="feed">

  <script>
    var img = document.getElementById("feed");
    var x = window.innerWidth;
    var y = window.innerHeight;
  
    img.style.width = x + "px";
    img.style.height = y + "px";
  
    window.addEventListener('resize', function() {
      x = window.innerWidth;
      y = window.innerHeight;
      img.style.width = x + "px";
      img.style.height = y + "px";
    });
  </script>

    <!-- HUD -->

    <div class="footer">

      <div class="dropdown">
        <button class="button bottomRow">Rotate camera</button>
        <div class="dropdown-content">
          <form>
            <a>X-axis: <input type="number" style="background-color: rgb(155, 170, 169);" class="bottomRow" name="X-axis"
                id="yaw" min="0" max="360"></a>
            <a>Y-axis: <input type="number" style="background-color: rgb(155, 170, 169);" class="bottomRow" name="Y-axis"
                id="pitch" min="90" max="180"></a>
            <a href=# id=rotate><button class='button bottomRow'>Rotate</button></a>
          </form>
        </div>
      </div>

      <div class="dropdown">
        <button class="button bottomRow">Change camera</button>
        <div class="dropdown-content">
          <a onclick="switchCam('Kitchen')">Kitchen</a>
          <a onclick="switchCam('Bedroom')">Bedroom</a>
        </div>
      </div>

      <div class="log" style="padding:20px">
        <button class="overButton" onclick="on()">Open log</button>
      </div>

      <div id="overlay" onclick="off()">
          <div id="text">
              {% for row in log_rows %}
              <p>{{ row[1] }}</p>
              {% endfor %}
          </div>
          <script>
            //Script to update log every second
            list = document.getElementById("text")
            setInterval(() => {
                fetch("{{ url_for('views.updateLog') }}").then((response) => {
                        response.json().then((t) => {
                          list.innerHTML = ""
                          for(let i = 0; i < t.length; i++){
                            let p = document.createElement('p')
                            p.textContent = t[i]
                            list.append(p)
                          }
                        });
                });
            }, 1000);
          </script>
      </div>

    </div>

    <div class="arrfooter">
      <div class="keys">
        <div class="zoomIn arr" onclick="zoomIn()"><em class="fa fa-search-plus"></em></div>
        <div class="up arr" onclick="up()"><em class="fa fa-arrow-up"></em></div>
        <div class="zoomOut arr" onclick="zoomOut()"><em class="fa fa-search-minus"></em></div>
        <br />
        <div class="left arr" onclick="left()"><em class="fa fa-arrow-left"></em></div>
        <div class="down arr" onclick="down()"><em class="fa fa-arrow-down"></em></div>
        <div class="right arr" onclick="right()"><em class="fa fa-arrow-right"></em></div>
      </div>
    </div>
  </div>


</body>

<script>
  // default camera
  img.src = "http://130.240.105.144/cgi-bin/mjpeg?resolution=1920x1080&amp;framerate=30&amp;quality=1"
  
  // Make console visible
  function on(){
    document.getElementById("overlay").style.display = "block";
  }

  // Make console invisible
  function off(){
    document.getElementById("overlay").style.display = "none";
  }


  // Switches between the 2 cameras when called.
  function switchCam(cam) {
    var s = "/switchCam/" + cam
    fetch(s)
    var img = document.getElementById("feed")
    if(cam == "Bedroom"){
      img.src = "http://130.240.105.145/cgi-bin/mjpeg?resolution=1920x1080&amp;framerate=30&amp;quality=1"
      img.alt = "http://130.240.105.145/cgi-bin/mjpeg?resolution=1920x1080&amp;framerate=30&amp;quality=1"
    }
    else{
      img.src = "http://130.240.105.144/cgi-bin/mjpeg?resolution=1920x1080&amp;framerate=30&amp;quality=1"
      img.alt = "http://130.240.105.144/cgi-bin/mjpeg?resolution=1920x1080&amp;framerate=30&amp;quality=1"
    }
  }

// Manual camera control functions
  function up() {
    var s = "/up"
    fetch(s)
  }

  function down() {
    var s = "/down"
    fetch(s)
  }

  function left() {
    var s = "/left"
    fetch(s)
  }

  function right() {
    var s = "/right"
    fetch(s)
  }


  function zoomIn() {
    var s = "/zoomIn"
    fetch(s)
  }

  function zoomOut() {
    var s = "/zoomOut"
    fetch(s)
  }

  // Keydown events
  document.addEventListener("keydown" , function(e){
    if(e.keyCode == 37 || e.keyCode == 65 ) {
      left();
    }
    else if(e.keyCode == 38 || e.keyCode == 87 ) {
      up();
    }
    else if (e.keyCode == 39 || e.keyCode == 68 ) {
      right();
    }
    else if (e.keyCode == 40 || e.keyCode == 83 )  {
      down();
    }
  });

</script>
</html>